Pillow==11.0.0
torch==2.5.1
pandas==2.2.3
tqdm==4.67.0
cryptography==43.0.3
scipy>=1.13.1,<1.14
torchvision==0.20.1
matplotlib==3.9.2
diffusers==0.31.0
transformers==4.46.3
# accelerate==1.1.1
protobuf==5.28.3
sentencepiece==0.2.0
beautifulsoup4==4.13.3
ftfy==6.3.1
scikit-image>=0.22,<0.25
torchutils==0.0.4
lpips==0.1.4
torchmetrics==1.8.0
pycryptodome
torchvision==0.20.1
torchutils==0.0.4
torch-geometric==2.6.1
galois==0.4.1 # prc
ldpc==0.1.51 # prc
numpy==1.26.0 # revised for prc
wandb==0.21.1
datasets==4.0.0
accelerate==1.9.0
huggingface-hub==0.33.2
ImageHash==4.3.2
imgaug==0.4.0
opencv-python==4.7.0.72
opencv-contrib-python==4.9.0.80
pycocotools==2.0.10
qrcode==8.2